<ion-header>
  <ion-toolbar>
    <ion-title>Mouvement de stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table id="customers">
    <tr>
        <td>Vaccin</td>
        <td>Quantité</td>
    </tr>
    <tr>
        <td>Janssen</td>
        <td>101</td>
    </tr>
    <tr>
      <td>Pfizer</td>
      <td>89</td>
    </tr>
    <tr>
      <td>AstraZeneca</td>
      <td>3</td>
    </tr>
  </table>
  <ion-button (click)="changerPage()" size="small" color="danger">Demande stock</ion-button>
</ion-content>
