<ion-content>
  <ion-item>
    <ion-label>Calendrier de vaccin</ion-label>
    <ion-button (click)="CloseModal()" size="small" slot="end" color="danger">close</ion-button>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Voici le calendrier de votre vaccin</ion-card-subtitle>
      <ion-card-title>Veillez le respecter</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text>
        <h5>Dose 1 : 2022-03-04</h5>
      </ion-text>
      <ion-text>
        <h5>Dose 2 : 2022-05-04</h5>
        <h5></h5>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
