<ion-content>
  <h3>Liste des vaccination en retards </h3>
  <ion-row>
    <ion-col>
      <center style="margin-left: 70%;"><ion-button type="submit" color="danger" expand="block" (click)="showAlert()">Notifier</ion-button></center>
    </ion-col>
  </ion-row>
  <table id="customers">
      <tr>
          <td>Nom</td>
          <td>Type Vaccin</td>
          <td>CIN</td>
          <td>Durée du retour</td>
      </tr>
      <tr>
          <td>Rakotonaivo Aina</td>
          <td>Janssen</td>
          <td>101235369456</td>
          <td>2 jours</td>
      </tr>
      <tr>
        <td>Rakotoarisoa Tantely</td>
        <td>Pfizer</td>
        <td>102352963589</td>
        <td>5 jours</td>
    </tr>
  </table>
  <form (ngSubmit)="retour()">
    <ion-row>
      <ion-col>
        <center style="margin-right: 70%;"><ion-button type="submit" color="danger" expand="block">Retour</ion-button></center>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
